.modal-quanlydetai {
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  font-size: 12px;
  height: auto;
  position: relative;
  border: 1px solid rgb(161, 155, 155);
  background-color: white;
}
.modal-quanlydetai input {
  font-size: 12px;
}
.modal-quanlydetai select {
  font-size: 12px;
}
